$search-color: #222;
$white: #fff;
$active: #428bca;
$transparent: rgba(255, 255, 255, 0);
$divider-line: #eee;
$button-color: rgb(47, 79, 79);
$button-color-hover: rgb(105, 105, 105);
$menu-icon-color: #aaa;
$menu-icon-color-hover: #222;
$border-color: #ddd;
