// compileOnSave
// compileOnSave: true
@import 'colors';
@import 'common';
@font-face {
    font-family: 'hytiaotiaotijregular';
    src: url('../font/5.0-webfont.woff2') format('woff2'), url('../font/5.0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'icon';
    src: url('../font/fontello.woff2') format('woff2'),url('../font/fontello.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/** 部分全局样式 开始 */

.hidden {
    display: none;
}

.icon {
    $icon-size: 24px;
    font-size: 24px;
    cursor: pointer;
    display: inline-block;
    width: $icon-size;
    text-align: center;
    font-style: normal;
    font-family: 'icon';
    -moz-osx-font-smoothing: graycale;
    -webkit-font-smoothing: antialiased;
}
@include clearStyle;
$slide-menu-width: 240px;
$slide-content-width: 320px;
$slide-animation-time: 0.8s;
/** 部分全局样式 结束 */
body,
html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

html {
    font-size: 100px;
}

body {
    font-size: 16px;
    font-family: 'hytiaotiaotijregular', 'Arial', 'Microsoft YaHei UI', sans-serif;
}
$bg-padding: 10px;
/* 背景开始 */
.background {
    background-size: cover;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    video {
        min-height: 100%;
        min-width: 100%;
    }
}
/* 背景结束 */
/* 搜索开始 */
.search-div {
    @extend %fade-style;
    color: #fff;
    left: 7%;
    opacity: 0;
    position: absolute;
    top: 17%;

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 18px;
    }

    .search-layout {
        margin-top: 40px;
        position: relative;
        $button-size: 30px;

        input {
            font-size: 30px;
            border: 0;
            color: $search-color;
            opacity: 0.8;
            padding: 12px 20px+$button-size 12px 20px;
            width: 5rem;
        }

        .search-button {
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjAiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9IiM2NjY2NjYiID4gICAgPHBhdGggZD0iTSA5IDIgQyA1LjEgMiAyIDUuMSAyIDkgQyAyIDEyLjkgNS4xIDE2IDkgMTYgQyAxMC43MjI0MjggMTYgMTIuMjg3NzkgMTUuMzg2MTk2IDEzLjUgMTQuMzc1IEwgMTQgMTQuODc1IEwgMTQgMTUuNjg3NSBMIDIwLjMxMjUgMjIgTCAyMiAyMC4zMTI1IEwgMTUuNjg3NSAxNCBMIDE0LjgxMjUgMTQgTCAxNC4zNDM3NSAxMy41MzEyNSBDIDE1LjM3MjEzNSAxMi4zMTQzODggMTYgMTAuNzM4NjA2IDE2IDkgQyAxNiA1LjEgMTIuOSAyIDkgMiB6IE0gOSA0IEMgMTEuOCA0IDE0IDYuMiAxNCA5IEMgMTQgMTEuOCAxMS44IDE0IDkgMTQgQyA2LjIgMTQgNCAxMS44IDQgOSBDIDQgNi4yIDYuMiA0IDkgNCB6Ij48L3BhdGg+PC9zdmc+');
            top: 0;
            margin: 12px;
            position: absolute;
            bottom: 0;
            right: 0;
            height: $button-size;
            width: $button-size;
        }
    }
}
/* 搜索结束 */
/* 时间, 天气 开始 */
.top-right-layout {
    position: absolute;
    height: 50px;
    right: $bg-padding;
    color: #fff;
    transition: right $slide-animation-time ease;

    .clock {
        font-size: 60px;
    }

    .weather {
        font-size: 22px;
        float: right;
        margin-top: 10px;
        margin-left: 10px;

        .weather-name {
            float: right;
            margin-right: 10px;
        }

        .weather-state {
            float: right;
        }

        .city {
            font-size: 24px;
        }
    }

    &.open {
        right: $slide-menu-width + $bg-padding;
    }

    &.full-open {
        right: $slide-menu-width + $slide-content-width + $bg-padding;
    }
}
/* 时间, 天气 结束 */
/* 背景图片说明 开始 */
.bottom-left-layout {
    font-size: 12px;
    bottom: $bg-padding;
    color: $white;
    left: $bg-padding;
    position: absolute;
    width: 300px;
}
/* 背景图片说明 结束 */
/* 常访问页面 开始 */
.bottom-layout {
    $width: 420px;
    position: absolute;
    width: $width;
    bottom: $bg-padding;
    left: 50%;
    margin-left: -1*$width/2;
    overflow: hidden;

    .visited-item {
        @include link-style;
        text-align: center;
        width: 60px;

        a {
            text-decoration: none;
        }

        img {
            $img-size: 16px;
            height: $img-size;
            width: $img-size;
        }

        .visited-item-title {
            font-size: 12px;
            color: $white;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
/* 常访问页面 结束 */
/* 菜单 开始 */
.bottom-right-layout {
    font-size: 16px;
    bottom: $bg-padding;
    right: 0;
    position: absolute;
    transition: right $slide-animation-time ease;

    li {
        float: right;
        list-style: none;

        a {
            @include link-style;
        }
    }

    .nav-menu {
        $nav-line-width: 20px;

        .nav-menu-line {
            transition: 0.3s all;
            background-color: $white;
            display: block;
            line-height: 2px;
            height: 2px;
            width: $nav-line-width;
        }

        .bottom,
        .top {
            margin: 3px 0;
        }

        .middle {
            margin: 0;
        }

        &:hover > .bottom,
        &:hover > .top {
            margin: 1px 0;
        }

        &:hover > .middle {
            margin: 5px 0;
        }

        &.collapse > .top {
            transform: rotate(-45deg);
            width: $nav-line-width / 3 * 2;
        }

        &.collapse > .middle {
            width: 0;
        }

        &.collapse > .bottom {
            transform: rotate(45deg);
            width: $nav-line-width / 3 * 2;
        }
    }

    &.open {
        right: $slide-menu-width + $bg-padding;
    }

    &.full-open {
        right: $slide-menu-width + $slide-content-width+$bg-padding;
    }
}
/* 菜单 结束 */
/* 右滑菜单 开始 */
.right-layout {
    $top: 150px;
    position: absolute;
    background: $white;
    bottom: 0;
    top: 0;
    right: -$slide-menu-width - $slide-content-width;
    width: $slide-menu-width+$slide-content-width;
    transition: right $slide-animation-time ease;

    &.open {
        right: -$slide-content-width;
    }

    &.full-open {
        right: 0;
    }

    .slide-menu {
        width: $slide-menu-width;
        height: 100%;
        padding-top: $top;
        border-right: solid 1px $divider-line;
        box-sizing: border-box;
        float: left;
    }

    .slide-content {
        padding-top: $top;
        box-sizing: border-box;
        height: 100%;
        float: right;
        padding-left: 10px;
        width: $slide-content-width;
    }
}

.slide-menu-item {
    $height: 30px;
    border-bottom: 1px solid $divider-line;
    color: $menu-icon-color;
    height: $height;
    line-height: $height;
    padding: 10px 20px;
    transition: padding-left 0.5s ease;

    &:last-child {
        border-bottom: 0;
    }

    i {
        margin-right: 10px;
        transition: all 0.3s ease;
    }

    span {
        position: absolute;

        &::after {
            height: 5px;
        }
    }

    &:hover {
        color: $menu-icon-color-hover;
        padding-left: 30px;
    }
}

.slide-content-item {
    .slide-content-title {
        margin-right: 10px;
    }

    .slide-content-line {
        margin-top: 20px;
    }

    .slide-input {
        padding: 6px 8px;
        border-radius: 6px;
        border: 1px solid $border-color;
        width: 150px;
    }

    .slide-content-button {
        color: $white;
        border: 0;
        display: inline-block;
        border-radius: 8px;
        background-color: $button-color;
        padding: 8px 24px;
        margin-right: 16px;

        &:hover {
            background-color: $button-color-hover;
        }
    }
}
/* 右滑菜单 结束 */
/** 单选样式 开始 */

.radio-box {
    @include radio-style;
}
/** 单选样式 结束 */
