extends src/views/layout

block title
  title New Tab

block body
  //- 背景图片相关
  div.background
    span.background-title

  //- 右上角天气地址
  include src/views/widget/weather

  //- 引入搜索框
  include src/views/widget/search

  //- 引入右边菜单栏
  include src/views/widget/slide