div.slide-layout
  div.slide-menu
    div.slide-menu-item
      i.icon.icon-round
      span Basic
    div.slide-menu-item
      i.icon.icon-search
      span Search
    div.slide-menu-item
      i.icon.icon-picture
      span Background
    div.slide-menu-item
      i.icon.icon-person
      span About
  div.slide-content