// 引入图标字体
@font-face {
  font-family: 'iconfont';
  src: url('/static/fonts/iconfont.ttf') format('truetype');
  /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.icon {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-person:before {
  content: '\e608';
}

.icon-search:before {
  content: '\e613';
}

.icon-picture:before {
  content: '\e61b';
}

.icon-round:before {
  content: '\e6b2';
}