$icon-size: 24px;
// 引入图标字体
@font-face {
	font-family: 'iconfont';
	src: url('/static/fonts/iconfont.ttf') format('truetype');
	/* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

// 图标通用样式
.icon {
	font-size: 24px;
	cursor: pointer;
	display: inline-block;
	width: $icon-size;
	text-align: center;
	font-style: normal;
	font-family: 'icon';
	-moz-osx-font-smoothing: graycale; // 对字体进行抗锯齿渲染
	-webkit-font-smoothing: antialiased; // 对字体进行抗锯齿渲染
}
